*.tif
*.pdf
*.xsd
*.gml
*.gdb*
*.Cat*
*.spx
*.prj
*.shx
*.shp
*.dbf
*_.md
*.xlsx
data/GML_CAD_BATIMENT_HORSOL/Informations_date.txt
data/heat_tot_curr_density-master/.gitattributes
data/gfa_tot_curr_density-master/.gitattributes
data/heat_tot_curr_density-master/data/*
data/heat_tot_curr_density-master/datapackage.json
data/gfa_tot_curr_density-master/data/*
data/gfa_tot_curr_density-master/datapackage.json
data/GDB_SCANE_INDICE_MOYENNES_3_ANS/SCANE_INDICE_MOYENNES_3_ANS.gdb/*
data/ag-b-00/*.csv
